<footer class="footer">
    <div class="container text-center">
        <h6>
            <a style="text-decoration: none" href="https://www.npmjs.com/package/images-to-pdf" target="_blank">
                images-to-pdf node package
            </a>
        </h6>
    </div>
    <div class="container text-center">
        <h6>
            <a style="text-decoration: none" href="https://www.npmjs.com/package/compress-images" target="_blank">
                compress-images node package
            </a>
        </h6>
    </div>
    <div class="container text-center">
        <h6>
            <a style="text-decoration: none" href="https://www.npmjs.com/package/zip-a-folder" target="_blank">
                 zip-a-folder node package
            </a>
        </h6>
    </div>
    <div class="container text-center">
        <h5>
            <a style="text-decoration: none" href="https://github.com/PraGitHub/ToPDFConvertor" target="_blank">
                Source code
                <i class="fa fa-github"></i>
            </a>
        </h5>
    </div>
</footer>