<!--
    <footer class="footer">
    <div class="container text-center">
        <h6>
            <a style="text-decoration: none" href="https://www.npmjs.com/package/images-to-pdf" target="_blank">
                images-to-pdf node package
            </a>
        </h6>
    </div>
    <div class="container text-center">
        <h6>
            <a style="text-decoration: none" href="https://www.npmjs.com/package/compress-images" target="_blank">
                compress-images node package
            </a>
        </h6>
    </div>
    <div class="container text-center">
        <h6>
            <a style="text-decoration: none" href="https://www.npmjs.com/package/zip-a-folder" target="_blank">
                 zip-a-folder node package
            </a>
        </h6>
    </div>
    <div class="container text-center">
        <h5>
            <a style="text-decoration: none" href="https://github.com/PraGitHub/ToPDFConvertor" target="_blank">
                Source code
                <i class="fa fa-github"></i>
            </a>
        </h5>
    </div>
</footer>
-->
<footer class="footer">
    <ul class="list-group" title="footer" >
        <li class="list-group-item">
            <ul class="list-group" title="node packages used">
                <li class="list-group-item list-group-item-light">
                    <div class="container text-center">
                        <h6>
                            <a style="text-decoration: none" href="https://www.npmjs.com/package/images-to-pdf" target="_blank">
                                <font color="006000">
                                    images-to-pdf
                                </font>
                            </a>
                        </h6>
                    </div>
                    <div class="container text-center">
                        <h6>
                            <a style="text-decoration: none" href="https://www.npmjs.com/package/compress-images" target="_blank">
                                <font color="006000">
                                    compress-images
                                </font>
                            </a>
                        </h6>
                    </div>
                    <div class="container text-center">
                        <h6>
                            <a style="text-decoration: none" href="https://www.npmjs.com/package/zip-a-folder" target="_blank">
                                <font color="006000">
                                    zip-a-folder
                                </font>
                            </a>
                        </h6>
                    </div>
                </li>
            </ul>
            <ul class="list-group" title="Source code">
                <li class="list-group-item list-group-item-light">
                    <div class="container text-center">
                        <h5>
                            <a style="text-decoration: none" href="https://github.com/PraGitHub/ToPDFConvertor" target="_blank">
                                <font color="006000">
                                    <i class="fab fa-github"></i>
                                </font>
                            </a>
                        </h5>
                    </div>
                </li>
            </ul>
        </li>
    </ul>
</footer>