<html>
    <head>
        <title>
            Convert2PDF
        </title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    </head>
    <body>
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1>Convert2PDF</h1>
                <a>Only jpeg, jpg and png are supported as of now</a>
            </div>
        </div>
        <br>
        <div class="alert alert-danger">
            <strong>Download failed !</strong>
        </div>
        <ul class="list-group">
            <li class="list-group-item">
                <form method="get" action="/">
                    <div class="form-group">
                        <button class="btn btn-primary" type="submit">Go to Home</button>
                    </div>
                </form>
            </li>
        </ul>  
    </body>
</html>