<html>
    <%include partials/head %>
    <body>
        <ul class="list-group">
            <li class="list-group-item">
                <% include partials/header %>
                <br>
                <ul class="list-group">
                    <li class="list-group-item list-group-item-dark">
                        <strong>Upload file(s)</strong>
                    </li>
                    <li class="list-group-item">
                        <form method="post" id="uploadForm" enctype="multipart/form-data" action="/upload">
                            <div class="form-group">
                                <label>
                                    <span class="badge badge-dark">
                                        Select files
                                    </span>
                                </label>
                                <input class="form-control" name="<% if(filePathKey){ %><%=filePathKey %><% }else{ %><%='FilePath' %><% } %>" type="file" accept=".jpg, .png, .jpeg" multiple>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-outline-success" data-toggle="tooltip" data-placement="top" title="Click on this to upload the seleted files"
                                    type="submit">
                                    Upload
                                    <span class="badge badge-success">
                                        <i class="fa fa-upload"></i>
                                    </span>
                                </button>
                            </div>
                        </form>
                    </li>
                </ul>
            </li>
        </ul>
        <% include partials/footer %>
    </body>
</html>