<html>
    <%include partials/head %>
    <body>
        <ul class="list-group">
            <li class="list-group-item">
                <% include partials/header %>
                <br>
                <ul class="list-group">
                    <li class="list-group-item list-group-item-success">
                        <strong>Upload file(s)</strong>
                    </li>
                    <li class="list-group-item">
                        <form method="post" id="uploadForm" enctype="multipart/form-data" action="/upload">
                            <label class="form-label">
                                <span class="badge bg-dark">
                                    Select files
                                </span>
                            </label>
                            <input class="form-control" name="<% if(filePathKey){ %><%=filePathKey %><% }else{ %><%='FilePath' %><% } %>" type="file" accept=".jpg, .png, .jpeg" multiple>
                            <br>
                            <button class="btn btn-outline-success" data-toggle="tooltip" data-placement="top" title="Click on this to upload the seleted files"
                                type="submit">
                                Upload
                                <span class="badge bg-success">
                                    <i class="fa fa-upload"></i>
                                </span>
                            </button>
                        </form>
                    </li>
                </ul>
            </li>
        </ul>
        <% include partials/footer %>
    </body>
</html>