<html>

<head>
    <title>
        Convert2PDF
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/ico" href="https://raw.githubusercontent.com/PraGitHub/ToPDFConvertor/master/views/icon.png"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
</head>

<body>
    <div class="jumbotron">
        <h1 class="display-4">Important notice!</h1>
        <hr class="my-4">
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="/" role="button">Go to Home</a>
        </p>
        <ul class="list-group">
            <li class="list-group-item">
                The site uses cookies to operate.
            </li>
            <li class="list-group-item">
                By using our services you agree to use the cookies!
            </li>
            <li class="list-group-item">
                By the way, the files you upload would persist on the site for only 10 minutes, after which they get deleted.
            </li>
            <li class="list-group-item">
                Only 20 requests are allowed for every 10 minutes.
            </li>
            <li class="list-group-item">
                Any interactions of yours with the site is assumed to have made by you agreeing to the above points.
            </li>
        </ul>
    </div>
</body>

</html>