<html>
    <head>
        <title>
            Convert2PDF
        </title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="image/ico" href="https://raw.githubusercontent.com/PraGitHub/ToPDFConvertor/master/views/icon.png"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    </head>
    <body>
        <ul class="list-group">
            <li class="list-group-item">
                <div class="jumbotron jumbotron-fluid">
                    <div class="container">
                        <h1>Convert2PDF</h1>
                        <hr class="my-4">
                        <a>Only jpeg, jpg and png are supported as of now</a>
                    </div>
                </div>
                <% if(files.length > 0) { %>
                    <ul class="list-group">
                        <li class="list-group-item list-group-item-success">
                            <strong>Files are uploaded successfully !</strong>
                        </li>
                        <% if(files){ %>
                            <% files.forEach((file) => { %>
                                <li class="list-group-item">
                                    <button class="btn btn-outline-success">
                                        <i class="fa fa-file-image-o"></i>
                                    </button>
                                    <span class="badge badge-light">
                                        <h6>
                                            <%= file %>
                                        </h6>
                                    </span>
                                </li>
                                <% }) %>
                                    <% } %>
                    </ul>
                    <ul class="list-group">
                        <li class="list-group-item">
                            <form onsubmit="return validate()" method="post" action="/convert">
                                <ul class="list-group">
                                    <li class="list-group-item">
                                        <div class="form-group">
                                            <input class="form-control" type="text" name="id" value="<% if(id){ %><%=id %><% }else{ %><%=DummyID %><% } %>" hidden>
                                        </div>
                                        <div class="form-group">
                                            <label>
                                                <span class="badge badge-dark">
                                                    Options
                                                </span>
                                            </label>
                                        </div>
                                        <div class="form-group">
                                            <span class="badge badge-success">
                                                <input type="checkbox" data-toggle="toggle tooltip" data-placement="top" title="Check this box to combine all files into 1 PDF"
                                                    name="combine" unchecked>
                                            </span>
                                            <label>
                                                <span class="badge badge-warning">
                                                    Combine
                                                </span>
                                            </label>
                                        </div>
                                        <div class="form-group">
                                            <span class="badge badge-success">
                                                <input type="checkbox" data-toggle="toggle tooltip" data-placement="top" title="Check this box to compress images" name="compress"
                                                    unchecked>
                                            </span>
                                            <label>
                                                <span class="badge badge-warning">
                                                    Compress
                                                </span>
                                            </label>
                                        </div>
                                        <div class="form-group">
                                            <span class="badge badge-success">
                                                <input type="checkbox" data-toggle="toggle tooltip" data-placement="top" title="Check this box if you do not want the files to be converted to pdf"
                                                    name="dontconvert" unchecked>
                                            </span>
                                            <label>
                                                <span class="badge badge-warning">
                                                    Don't Convert
                                                </span>
                                            </label>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        <div class="form-group">
                                            <button id="convertButton" class="btn btn-outline-success" data-toggle="tooltip" data-placement="top" title="Click on this to proceed with the selected options"
                                                type="submit">
                                                Proceed
                                                <span class="badge badge-success">
                                                    <i class="fa fa-arrow-circle-right"></i>
                                                </span>
                                            </button>
                                        </div>
                                    </li>
                                </ul>
                            </form>
                        </li>
                    </ul>
                
            <% }else{ %>
                <div class="alert alert-danger">
                    <strong>
                        No files are selected
                    </strong>
                </div>
            <% } %>
                
                <ul class="list-group">
                    <li class="list-group-item">
                        <form method="get" action="/">
                            <div class="form-group">
                                <button class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="Navigate to home page" type="submit">Go to
                                    <i class="fa fa-home"></i>
                                </button>
                            </div>
                        </form>
                    </li>
                </ul>
            </li>
        </ul>
           
        <footer class="footer">
            <div class="container text-center">
                <h6>
                    <a style="text-decoration: none" href="https://www.npmjs.com/package/images-to-pdf" target="_blank">
                        images-to-pdf npm package
                    </a>
                </h6>
            </div>
            <div class="container text-center">
                <h4>
                    <a style="text-decoration: none" href="https://github.com/PraGitHub/ToPDFConvertor" target="_blank">
                        Source code
                        <i class="fa fa-github"></i>
                    </a>
                </h4>
            </div>
        </footer>
        <script>
            function validate(){
                //alert("validate :: begin");

                document.getElementById("convertButton").disabled = true;
                var compress = document.getElementsByName("compress")[0];
                var combine = document.getElementsByName("combine")[0];
                var dontconvert = document.getElementsByName("dontconvert")[0];

                //alert("compress = " + compress.checked);
                //alert("combine = " + combine.checked);
                //alert("dontconvert = " + dontconvert.checked);
                
                if(
                    combine.checked && dontconvert.checked ||
                    dontconvert.checked && !combine.checked && !compress.checked
                ){
                    alert("Invalid combination of inputs!");
                    document.getElementById("convertButton").disabled = false;
                    return false;
                }
                return true;
            }
        </script>
    </body>
</html>