<html>
    <head>
        <title>
            Convert2PDF
        </title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="image/ico" href="https://raw.githubusercontent.com/PraGitHub/ToPDFConvertor/master/views/icon.png" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    </head>
    <body>
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1>Convert2PDF</h1>
                <hr class="my-4">
                <a>Only jpeg, jpg and png are supported as of now</a>
            </div>
        </div>
        <br>
        <ul class="list-group">
            <% if(results){ %>
                <li class="list-group-item list-group-item-success">
                    <strong>Files are processed successfully !</strong>
                </li>
                <% results.forEach((result) => { %>
                    <li class="list-group-item">
                        <button class="btn btn-outline-success">
                            <i class="fa fa-file-pdf-o"></i>
                        </button>
                        <span class="badge badge-dark"><%= result.filename %></span>
                        <% if(result.success) { %>
                            <span class="badge badge-success">
                                <i class="fas fa-check-circle"></i>
                            </span>
                        <% } else { %>
                            <span class="badge badge-danger">
                                <i class="fa fa-times-circle"></i>
                            </span>
                        <% } %>
                    </li>
                <% }) %>
            <% } %>
        </ul>
        <ul class="list-group">
            <li class="list-group-item">
                <form method="post" action="/download">
                    <div class="form-group">
                        <input class="form-control" type="text" name="id" value="<% if(id){ %><%=id %><% }else{ %><%=DummyID %><% } %>" hidden>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-outline-success" data-toggle="tooltip" data-placement="top" title="Click on this to download the converted files" onClick="this.value='Downloading . . .'; this.form.submit();" type="submit">
                            Download 
                            <span class="badge badge-success">
                                <i class="fa fa-download"></i>
                            </span>
                        </button>
                    </div>
                </form>
            </li>
            <li class="list-group-item">
                <form method="get" action="/">
                    <div class="form-group">
                        <button class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="Navigate to home page" type="submit">Go to <i class="fa fa-home"></i></button>
                    </div>
                </form>
            </li>
        </ul>
        <footer class="footer">
            <div class="container text-center">
                <h6>
                    <a style="text-decoration: none" href="https://www.npmjs.com/package/images-to-pdf" target="_blank">
                        images-to-pdf npm package
                    </a>
                </h6>
            </div>
            <div class="container text-center">
                <h4>
                    <a style="text-decoration: none" href="https://github.com/PraGitHub/ToPDFConvertor" target="_blank">
                        Source code
                        <i class="fa fa-github"></i>
                    </a>
                </h4>
            </div>
        </footer>
    </body>
</html>